<!DOCTYPE html>
<html>
<head>
  <title>Add Partie</title>
</head>
<body>
  <h1>Add Partie</h1>
  <form method="POST" action="/parties">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" required>
    <br>
    <label for="joueur1">Joueur 1:</label>
    <input type="text" id="joueur1" name="joueur1" required>
    <br>
    <label for="joueur2">Joueur 2:</label>
    <input type="text" id="joueur2" name="joueur2" required>
    <br>
    <button type="submit">Add Partie</button>
  </form>
</body>
</html>